<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}">
  <head>
  <meta charset="UTF-8" />
  <title th:text="#{title.courses}">Courses</title>
</head>
<body>
  <div layout:fragment="content">
    <h4 class="mb-3" th:text="${msg}">Courses</h4>
    
    <table class="table table-striped" th:unless="${#lists.isEmpty(courses)}">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" th:text="#{label.name}">Name</th>
          <th scope="col" th:text="#{label.description}">Description</th>
          <th scope="col" th:text="#{label.category}">Category</th>
          <th scope="col" th:text="#{label.teacher}">Teacher</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="course,iterStat : ${courses}" th:object="${course}">
          <th scope="row" th:text="${iterStat.count}">1</th>
          
          <!-- Course name -->
          <td>
            <!-- Show link if user has authority -->          
            <a th:if="${#authorization.url('GET','/courses/*')}"
               class="btn btn-link" href="#" th:href="@{/courses/{courseId}(courseId=*{id})}"
               th:text="*{name}">
              Basic English
            </a>
           <!-- Otherwise show plain text -->
           <span th:unless="${#authorization.url('GET','/courses/*')}" th:text="*{name}">
             Basic English
           </span>            
          </td>
          
          <!-- Course description -->          
          <td th:text="*{description}">Totally awesome course</td>
          
          <!-- Course category -->          
          <td th:text="*{category.code}">ENG</td>
          
          <!-- Course teacher -->          
          <td>
            <!-- Show link if user has authority -->
            <a th:if="${#authorization.url('GET','/teachers/*')}"
               class="btn btn-link" href="#" th:href="@{/teachers/{teacherId}(teacherId=*{teacher.id})}"
               th:text="|*{teacher.firstName} *{teacher.lastName}|">
               Jack Smith
           </a>
           <!-- Otherwise show plain text -->
           <span th:unless="${#authorization.url('GET','/teachers/*')}" th:text="|*{teacher.firstName} *{teacher.lastName}|">
             Jack Smith
           </span>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</body>
</html>