<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}"
>
<head>
<meta charset="UTF-8" />
<title th:text="#{title.studentInfo}">Student Info</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="w-75 p-3">
    
      <div th:replace="fragments/info-message :: message (${infoMsg})">
      </div>
    
      <h3 class="mb-5" th:text="#{title.studentInfo}">Student Info</h3>

      <form id="studentForm" th:object="${student}" th:attr="data-student-id=${student.id}">

        <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label" th:text="#{label.fname}">First name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{firstName}" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label" th:text="#{label.lname}">Last name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{lastName}" disabled>
          </div>
        </div>
        
         <div class="form-group row">
          <label for="enrollmentDate" class="col-sm-2 col-form-label" th:text="#{label.edate}">Enrollment Date</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{enrollmentDate}" disabled>
          </div>
        </div>
        
        <div class="form-group row" th:with="hasGroup=${student.group ne null}">
          <label for="group" class="col-sm-2 col-form-label" th:text="#{label.group}">Group</label>
          <div class="col-sm-10 form-row">
            <select class="form-control w-25" name="group" id="group" disabled>
              <option value="''" 
                      th:value="${hasGroup} ? ${student.group.id} : ''" 
                      th:text="${hasGroup} ? ${student.group.name} : '-'">-</option>
            </select>
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0" th:text="#{label.courses}">Courses</legend>
            <div class="col-sm-4" id="studentCourses">
                <div class="form-check" th:each="course : ${student.courses}" th:object="${course}">
                  <input class="form-check-input" type="checkbox" th:name="|course-*{id}|" th:id="*{name}" th:value="*{id}" 
                         checked disabled>
                  <label class="form-check-label" th:for="*{name}" th:text="*{name}">History</label>
                </div>
            </div>
          </div>
        </fieldset>
        
        <div class="row">
          <a href="#" th:href="@{/students/{id}/update(id=${student.id})}" class="btn btn-info mb-3 mr-3 updateBtn" 
             th:text="#{label.updateStudent}">
            Update Student
          </a>
          <button type="button" id="deleteDialogBtn" class="btn btn-danger mb-3 deleteBtn" th:text="#{label.deleteStudent}">
            Delete Student
          </button>
        </div>
        
      </form>
      
      <hr />
      <div th:replace="fragments/search-timetables :: search (@{'/timetables/student/'+${student.id}+'/'})">
      </div>
      
      <div th:replace="fragments/dialogs :: delete (@{/students/delete},${student.id},#{title.studentDelete},#{msg.confirmStudentDelete})">
      </div>
      
    </div>
  </div>
</body>
</html>