<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}">
  <head>
  <meta charset="UTF-8" />
  <title th:text="#{title.students}">Students</title>
</head>
<body>
  <div layout:fragment="content">
    <h4 th:text="#{title.students}">Students</h4>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" th:text="#{label.fname}">First Name</th>
          <th scope="col" th:text="#{label.lname}">Last Name</th>
          <th scope="col" th:text="#{label.edate}">Enrollment Date</th>
          <th scope="col" th:text="#{label.group}">Group</th>
          <th scope="col" th:text="#{label.courses}">Courses</th>
        </tr>
      </thead>
      <tbody th:with="df=#{format.date}">
        <tr th:each="student,iterStat : ${students}" th:object="${student}">
          <th scope="row" th:text="${iterStat.count}">1</th>
          <td th:text="*{firstName}">Mark</td>
          <td th:text="*{lastName}">Otto</td>
          <td th:text="${#temporals.format(student.enrollmentDate, df)}">25/10/2017</td>
          <td th:text="*{group ne null} ? *{group.name} : '-'">ph-25</td>
          <td>
            <p th:each="course : ${student.courses}" th:text="${course.name}" class="text-dark">
                History
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>