<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}"
>
<head>
<meta charset="UTF-8" />
<title th:text="#{title.studentUpdateForm}">Student Update Form</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="w-75 p-3">
    
      <h3 class="mb-5" th:text="#{title.studentUpdateForm}">Student Update Form</h3>

      <form id="studentForm" th:object="${student}" th:action="@{/students/{id}(id=${student.id})}" method="post">
        <input type="hidden" name="studentId" th:value="*{id}">

        <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label" th:text="#{label.fname}">First name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{firstName}" disabled>
          </div>
        </div>

        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label" th:text="#{label.lname}">Last name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{lastName}" disabled>
          </div>
        </div>
        
         <div class="form-group row">
          <label for="enrollmentDate" class="col-sm-2 col-form-label" th:text="#{label.edate}">Enrollment Date</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{enrollmentDate}" disabled>
          </div>
        </div>

        <div class="form-group row" th:with="hasGroup=${student.group ne null}">
          <label for="group.id" class="col-sm-2 col-form-label" th:text="#{label.group}">Group</label>
          <div class="col-sm-10 form-row">
            <select class="form-control w-25" name="groupId">
              <option th:value="''" th:text="'-'" th:selected="${student.group == null}">-</option>
              <option th:each="group : ${groups}"
                      th:value="${group.id}"
                      th:text="${group.name}"
                      th:selected="${group.equals(student.group)}">ph-25</option>
              
            </select>
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0" th:text="#{label.courses}">Courses</legend>
            <div class="col-sm-4">
                <div class="form-check" th:each="course : ${courses}">
                  <input class="form-check-input" type="checkbox" th:name="'courseIds'" th:value="${course.id}"
                         th:id="${course.id}" th:checked="${#lists.contains(student.courses, course)}">
                  <label class="form-check-label" th:for="${course.id}" th:text="${course.name}">
                    History
                  </label>
                </div>
            </div>
          </div>
        </fieldset>
        
        <button type="button" id="updateDialogBtn" class="btn btn-info mb-3 mr-3" th:text="#{label.submit}">
          Submit
        </button>
        
      </form>
      
      <div th:replace="fragments/dialogs :: update ('studentForm',#{title.studentUpdate},#{msg.confirmStudentUpdate})">
      </div>
      
    </div>
  </div>
</body>
</html>