<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}">
  <head>
  <meta charset="UTF-8" />
  <title th:text="#{title.teachers}">Teachers</title>
</head>
<body>
  <div layout:fragment="content">
    <h4 class="mb-3" th:text="${msg}">Teachers</h4>
    
    <table class="table table-striped" th:unless="${#lists.isEmpty(teachers)}">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" th:text="#{label.fname}">First Name</th>
          <th scope="col" th:text="#{label.lname}">Last Name</th>
          <th scope="col" th:text="#{label.hdate}">Date Hired</th>
          <th scope="col" th:text="#{label.title}">Title</th>
          <th scope="col" th:text="#{label.courses}">Courses</th>
        </tr>
      </thead>
      <tbody th:with="df=#{format.date}">
        <tr th:each="teacher,iterStat : ${teachers}" th:object="${teacher}">
          <th scope="row" th:text="${iterStat.count}">1</th>
          <td><a th:href="@{/teachers/{teacherId}(teacherId=*{id})}" th:text="*{firstName}">Mark</a></td>
          <td><a th:href="@{/teachers/{teacherId}(teacherId=*{id})}" th:text="*{lastName}">Otto</a></td>
          <td th:text="${#temporals.format(teacher.dateHired, df)}">25/10/2017</td>
          <td th:text="*{{title}}">Instructor</td>
          <td>
            <p th:each="course : ${teacher.courses}" th:text="${course.name}" class="text-dark">
                History
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</body>
</html>