<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}">
  <head>
  <meta charset="UTF-8" />
  <title th:text="#{title.timetables}">Timetables</title>
</head>
<body>
  <div layout:fragment="content">
    <h4 th:text="${msg}" class="mb-3">Timetables</h4>
    <table class="table table-striped" th:unless="${#lists.isEmpty(timetables)}">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" th:text="#{label.date}">Date</th>
          <th scope="col" th:text="#{label.duration}">Duration (mins)</th>
          <th scope="col" th:text="#{label.course}">Course</th>
          <th scope="col" th:text="#{label.classroom}">Classroom</th>
          <th scope="col" th:text="#{label.teacher}">Teacher</th>
        </tr>
      </thead>
      <tbody th:with="dtf=#{format.datetime}">
        <tr th:each="tmtable,iterStat : ${timetables}" th:object="${tmtable}">
          <th scope="row" th:text="${iterStat.count}">1</th>
          <td th:text="${#temporals.format(tmtable.startTime, dtf)}">25/10/2017 12:30</td>
          <td th:text="*{durationInMinutes}">60</td>
          <td th:text="*{course.name}">History</td>
          <td th:text="*{classroom.id}">1</td>
          <td>
            <a th:href="@{/teachers/{teacherId}(teacherId=*{teacher.id})}"
               th:text="|*{teacher.firstName} *{teacher.lastName}|">
               Jack Smith
           </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>