<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main-layout}">
  <head>
  <meta charset="UTF-8" />
  <title th:text="#{title.students}">Students</title>
</head>
<body>
  <div layout:fragment="content">
  
    <div th:replace="fragments/info-message :: message (${infoMsg})">
    </div>
  
    <h4 class="mb-3" th:text="${msg}">Students</h4>
    
    <table id="studentsTable" class="table table-striped" th:unless="${#lists.isEmpty(students)}">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            <a href="#" th:href="@{|${#myutil.updatePagingInfo(students.number+1,'firstName','lastName')}|}"
               th:text="#{label.fullName}">
              Full Name
            </a>
            <th:block th:replace="fragments/pagination :: sortIcon ('firstName')"></th:block>             
          </th>
          <th scope="col">
            <a href="#" th:href="@{|${#myutil.updatePagingInfo(students.number+1,'enrollmentDate')}|}"
               th:text="#{label.edate}">
              Enrollment Date
            </a>
            <th:block th:replace="fragments/pagination :: sortIcon ('enrollmentDate')"></th:block>            
          </th>
          <th scope="col">
            <a href="#" th:href="@{|${#myutil.updatePagingInfo(students.number+1,'group.name')}|}"
               th:text="#{label.group}">
              Group
            </a>
            <th:block th:replace="fragments/pagination :: sortIcon ('group.name')"></th:block>            
          </th>
          <th scope="col" th:text="#{label.courses}">Courses</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="student,iterStat : ${students}" th:object="${student}" th:id="|row-${student.id}|">
          <th scope="row" th:text="${iterStat.count}">1</th>
          
          <!-- Student name -->                   
          <td>
            <!-- Show link if user has authority -->          
            <a th:if="${#authorization.url('GET','/students/*')}" 
               class="btn btn-link" href="#" th:href="@{/students/{studentId}(studentId=*{id})}"
               th:text="|*{firstName} *{lastName}|">
              Mark Otto
            </a>
           <!-- Otherwise show plain text -->
           <span th:unless="${#authorization.url('GET','/students/*')}" th:text="|*{firstName} *{lastName}|">
             Mark Otto
           </span>
          </td>
          
          <!-- Enrollment date -->                   
          <td th:text="*{{enrollmentDate}}">25/10/2017</td>
          
          <!-- Group -->                   
          <td th:text="*{group ne null} ? *{group.name} : '-'">ph-25</td>
          
          <!-- Courses -->                   
          <td>
            <!-- Show link if user has authority -->
            <th:block th:if="${#authorization.url('GET','/courses/*')}" >
              <p th:each="course : ${student.courses}">
              <a class="btn btn-link" href="#" th:href="@{/courses/{courseId}(courseId=${course.id})}"
                 th:text="${course.name}">
                 History
              </a>
              </p>
            </th:block>
            <!-- Otherwise show plain text -->               
            <th:block th:unless="${#authorization.url('GET','/courses/*')}">
              <p th:each="course : ${student.courses}" th:text="${course.name}" class="text-dark">
                  History
              </p>
            </th:block>
          </td>
        </tr>
      </tbody>
    </table>
    
    <!-- Pagination  -->
    <div th:replace="fragments/pagination :: pagination (${students})">
    </div>
    
  </div>
</body>
</html>