<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
  <title>Information message</title>
  <div th:fragment="message (infoMsg)">
  
    <div th:if="${infoMsg}" class="alert alert-info alert-dismissible fade show mb-3" role="alert">
      <strong th:text="${infoMsg}">Information message</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
  </div>
</body>
</html>